# Kitty Config
#
# Written by: Corey Reppond <reppocs@gmail.com>

# theme
include themes/{{ theme | default("gruvbox") }}.conf

# Fonts
font_family           JetBrains Mono Medium
bold_font             JetBrains Mono Bold
italic_font           JetBrains Mono Italic
bold_italic_font      JetBrains Mono Bold Italic

font_size             8

# how far to scroll back
scrollback_lines 5000

# window stuff
window_padding_width 5
