include-file = $HOME/.config/polybar/modules/{{ window_manager | default ("bspwm") }}.ini
include-file = $HOME/.config/polybar/modules/battery.ini
include-file = $HOME/.config/polybar/modules/title.ini
include-file = $HOME/.config/polybar/modules/date.ini
include-file = $HOME/.config/polybar/modules/memory.ini
include-file = $HOME/.config/polybar/modules/cpu.ini
include-file = $HOME/.config/polybar/modules/logo.ini
